{% extends 'base.html' %}

{% block title %} Cadastro Empresa  {% endblock title %}

{% block titlePage %} Cadastro Empresa  {% endblock titlePage %}

{% block usuario %}  {% endblock usuario %}

{% block content %}

{% load myfilters %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulário Empresa</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" class="form-horizontal">
                                    {% csrf_token %}

                                        <div class="row p-t-20">
                                           <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.nome.label}}</label>
                                                    {{ form.nome | addclass:'form-control' }}

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.razaoSocial.label}}</label>
                                                    {{ form.razaoSocial | addclass:'form-control' }}

                                                </div>
                                            </div>
                                        </div>


                                        <div class="row p-t-20">
                                           <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.email.label}}</label>
                                                    {{ form.email | addclass:'form-control' }}

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.telefone.label}}</label>
                                                    {{ form.telefone | addclass:'form-control' }}

                                                </div>
                                            </div>
                                        </div>


                                        <div class="row p-t-20">
                                           <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.cep.label}}</label>
                                                    {{ form.cep | addclass:'form-control' }}

                                                </div>
                                            </div>
                                        </div>


                                        <div class="row p-t-20">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.rua.label}}</label>
                                                    {{ form.rua | addclass:'form-control' }}

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.cidade.label}}</label>
                                                    {{ form.cidade | addclass:'form-control' }}

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.estado.label}}</label>
                                                    {{ form.estado | addclass:'form-control' }}
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.pais.label}}</label>
                                                    {{ form.pais | addclass:'form-control' }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row p-t-20">
                                           <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">{{form.topicos.label}}</label>
                                                    {{ form.topicos | addclass:'form-control' }}

                                                </div>
                                            </div>
                                        </div>

                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>







{% endblock content %}